In [1]:
import os
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from dotenv import load_dotenv

### Initializálás

In [2]:
load_dotenv()
user = os.environ.get('POSTGRES_USER')
password = os.environ.get('POSTGRES_PASSWORD')
host = os.environ.get('POSTGRES_HOST_PROD')
port = os.environ.get('POSTGRES_PORT')
db = os.environ.get('POSTGRES_DB')

uri = f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}'
config = {
    'user': user,
    'password': password,
    'host': host,
    'port': port,
    'database': db
}

engine = create_engine(uri)

print(uri)

postgresql+psycopg2://ogfuser:gzAltf1971@84.206.134.26:5432/ogf_db

In [3]:
input_file = 'TXT Ukrán április.xlsx'
output_file = 'elokeszit_Ukrán_202504.xlsx'

AHT='397451'
KID=f'{AHT}/2025'
SHEET='Munka1'

def get_data(ksh):
    query = f'''
select 
    onk.ksh, 
    SUBSTR(st.torzs_sz||'-'||st.afakod||'-'||st.mk, 0, 8) as torzsszam,    
    cim.irszam, 
    onk.onev,
    cim.koztnev||' '||cim.kozjell as cim,                       
    cim.hsz1 as hsz, 
    TRIM(rk.megnevezes) as regio
from public.t_onkorm_tech onk
left join (select * from public.t_stat) st on st.ksh=onk.ksh
left join (select * from public.t_cim) cim on cim.ksh=onk.ksh
left join public.t_regio rk on rk.regiokod=onk.rk
where onk.ksh='{ksh}'
'''    
    conn = psycopg2.connect(user=user, password=password, host=host, port=port, database=db)
    cursor = conn.cursor()
    cursor.execute(query)
    data = cursor.fetchall() 
    cursor.close()   
    conn.close()
    return data

### Betöltő beolvasás

In [4]:
df = pd.read_excel(f'./data/{input_file}', sheet_name=0, usecols=[0, 1, 2], names=['KSH', 'ONK', 'AMOUNT'], skiprows=0) #, nrows=41)
df['KSH'] = df['KSH'].astype(str).str.replace('\.0', '', regex=True).str.zfill(7)
# df['KSH'] = df['KSH'].astype(str).str.zfill(7)
df['AMOUNT'] = df['AMOUNT'].fillna(0).astype(int)
df['KID'] = KID
df['TORZSSZAM'] = ''
df['AHT'] = AHT
df['IRSZAM'] = ''
df['ONEV'] = ''
df['CIM'] = ''
df['HSZ'] = ''
df['REGIO'] = ''
if df.iloc[-1]['KSH'] == '9999999':
  df = df.iloc[:-1]

df.head()

,KSH,ONK,AMOUNT,KID,TORZSSZAM,AHT,IRSZAM,ONEV,CIM,HSZ,REGIO
0,0303522,Baja Megyei Jogú Város Önkormányzata,310000,397451/2025,,397451,,,,,
1,1125131,Esztergom Megyei Jogú Város Önkormányzata,465000,397451/2025,,397451,,,,,
2,2016081,Kispáli Község Önkormányzata,155000,397451/2025,,397451,,,,,
3,2005704,Pethőhenye Község Önkormányzata,3565000,397451/2025,,397451,,,,,
4,2002097,Gutorfölde Község Önkormányzata,465000,397451/2025,,397451,,,,,

### Szükséges adatok az adatbázisból

In [5]:
column_names = ['TORZSSZAM', 'IRSZAM', 'ONEV', 'CIM', 'HSZ', 'REGIO']

for index, row in df.iterrows():
    ksh_value = row['KSH']
    data = get_data(ksh_value)
    for i, column_name in enumerate(column_names):
        df.at[index, column_name] = data[0][i+1]

df.head()

,KSH,ONK,AMOUNT,KID,TORZSSZAM,AHT,IRSZAM,ONEV,CIM,HSZ,REGIO
0,0303522,Baja Megyei Jogú Város Önkormányzata,310000,397451/2025,1572431,397451,6500,Baja,Szentháromság Tér,1,Dél-Alföld
1,1125131,Esztergom Megyei Jogú Város Önkormányzata,465000,397451/2025,1572960,397451,2500,Esztergom,Széchenyi Tér,1,Közép-Dunántúl
2,2016081,Kispáli Község Önkormányzata,155000,397451/2025,1543720,397451,8912,Kispáli,József Attila Utca,40,Nyugat-Dunántúl
3,2005704,Pethőhenye Község Önkormányzata,3565000,397451/2025,1543745,397451,8921,Pethőhenye,Hunyadi János Utca,2,Nyugat-Dunántúl
4,2002097,Gutorfölde Község Önkormányzata,465000,397451/2025,1543204,397451,8951,Gutorfölde,Dózsa Utca,1,Nyugat-Dunántúl

In [6]:
df.to_excel(f'./data/{output_file}', index=False)

### Teszt

In [24]:
query=f'''
select 
    onk.ksh, 
    SUBSTR(st.torzs_sz||'-'||st.afakod||'-'||st.mk, 0, 8) as torzsszam,    
    cim.irszam, 
    onk.onev,
    cim.koztnev||' '||cim.kozjell as cim,                       
    cim.hsz1 as hsz, 
    TRIM(rk.megnevezes) as regio
from public.t_onkorm_tech onk
left join (select * from public.t_stat) st on st.ksh=onk.ksh
left join (select * from public.t_cim) cim on cim.ksh=onk.ksh
left join public.t_regio rk on rk.regiokod=onk.rk
where onk.ksh='1707685'
'''
connection = engine.connect()
df = pd.read_sql(query, connection)
connection.close()

df.head()

       ksh torzsszam irszam      onev             cim hsz         regio
0  1707685   1573355   7200  Dombóvár  Szabadság Utca  18  Dél-Dunántúl

In [9]:
query=f'''
select 
    onk.ksh, 
    SUBSTR(st.torzs_sz||'-'||st.afakod||'-'||st.mk, 0, 8) as torzsszam,    
    cim.irszam, 
    onk.onev,
    cim.koztnev||' '||cim.kozjell as cim,                       
    cim.hsz1 as hsz, 
    TRIM(rk.megnevezes) as regio
from public.t_onkorm_tech onk
left join (select * from public.t_stat) st on st.ksh=onk.ksh
left join (select * from public.t_cim) cim on cim.ksh=onk.ksh
left join public.t_regio rk on rk.regiokod=onk.rk
where onk.ksh='1707685'
'''

conn = psycopg2.connect(user=user, password=password, host=host, port=port, database=db)
cursor = conn.cursor()
cursor.execute(query)
data = cursor.fetchall()    
conn.close()

print(data)

[('1707685', '1573355', '7200', 'Dombóvár', 'Szabadság Utca', '18', 'Dél-Dunántúl')]